/// -----------------------------------------------------------------------------
/// This file contains all styles related to the button component.
/// -----------------------------------------------------------------------------

@mixin btn-style {
  background-color: $btn-color;
  color: $white;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;

  font-size: $buttons-font-size;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;

  font-weight: bold;
  text-transform: uppercase;

  @include on-event {
    color: $white;
    background-color: $hover-color;
    text-decoration: none;
  }
}

/// Join Our Talent Network button
.btn-join {
  @include btn-style;

  position: relative;
  // display: block;

  @include on-event {
  }

  &.active,
  &:active {
    &.focus,
    &:focus,
    &:hover {
      @extend .btn-join;
    }
  }
}

/// Override buttons behavior
.primary-button,
.btn-default,
.btn-general {
  @include btn-style;

  &.active,
  &:active {
    &.focus,
    &:focus,
    &:hover {
      @include btn-style;
    }
  }
}

@media (min-width: 768px) {
  /// Join our talent network button
  .btn-join {
  }
}
