/// -----------------------------------------------------------------------------
/// This file contains all styles of search box and parent items
/// -----------------------------------------------------------------------------

/// Search Mobile
.search-mobile {
  background-color: $primary-color;

  h2 {
    color: $white;
    font-size: 28px;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;

    max-width: 480px;
    margin: 0 auto;

    margin-bottom: 20px;
  }

  /// Search box
  .search-box {
    padding-top: 20px;
    padding-bottom: 20px;

    /// Search box content
    .search-box-content {
      max-width: 480px;
      margin: 0 auto;
    }
    /// End Search box content
  }
  /// End Search box

  /// Search bar
  #search-bar {
    // max-width: 480px;
    // margin: 0 auto;

    /// Search bar elements
    .search-bar-element {
      padding-bottom: 30px;
      padding-left: 0px;
      padding-right: 0px;

      input {
        font-size: $body-font-size;
        color: $text-color;
        height: 40px;
        border: none;
        border-radius: 0px;
        text-align: left;

        @include placeholder {
          color: #777777;
        }

        /// Remove X icon from IE
        &::-ms-clear {
          display: none;
        }
      }

      /// Search button container
      &.search-widget-container {
        padding-bottom: 15px;
        text-align: center;

        width: 35%;
        padding-right: 30px;
        text-align: right;

        /// Search button
        .search-btn {
          display: inline-block;
          text-transform: none; /// <-- Override TN_JOB property
          background-color: transparent;
          font-size: 36px;
          line-height: 1;
          padding: 5px;

          @include on-event {
            color: $hover-color;
          }
        }
        /// End Search button
      }
      /// Search button container
    }
    /// End Search bar elements
  }
  /// End Search bar

  /// View all jobs container
  .link-center {
    // text-align: center;
    padding: 0px;
    margin: 0px;

    padding-top: 5px;


    margin-right: 0px;
    margin-left: auto;
    width: 65%;
    margin-top: -55px;

    /// View all jobs
    .view-all-jobs {
      color: $white;
    }
    /// End View all jobs
  }
  /// End View all jobs container
}
/// End Search Mobile

///
/// Extend Search
///

/// Search desktop home
.search-desktop-home {
  @extend .search-mobile;
}
/// End Search desktop home

/// Search desktop
.search-desktop {
  @extend .search-desktop-home;
}
/// End Search desktop

/// Search Widget (Search & Re-Engage)
#search-widget {
  @extend .search-mobile;
  background-color: $secondary-color;

  padding-top: 30px;
  padding-bottom: 20px;

  position: static;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;

  #search-bar {
    .search-bar-element {
      &.search-widget-container {
        .search-btn {
          @include on-event {
          }
        }
      }
    }
  }
}
/// End Search Widget (Search & Re-Engage)

///
/// End Extend Search
///

@media (min-width: 768px) {
  /// This is a fix for element not using its full space
  .search-mobile {
    float: none;
    padding: 0px;
    background-size: cover;
  }

  /// Search desktop home
  .search-desktop-home,
  #search-widget {
    position: absolute;
    bottom: 60px;
    top: auto;
    right: 0px;
    left: 0px;

    background-color: transparent;

    h2 {
      max-width: none;
      font-size: 30px;
    }

    /// Search box
    .search-box {
      padding-top: 0px;
      padding-bottom: 0px;

      /// Search box content
      .search-box-content {
        max-width: none;

        padding: 20px 0px;
        background-color: $primary-color;

        margin: 0 15px;
        float: left;

        /// For search small
        @if $search-small {
          max-width: 480px;
          margin: 0 auto;
        }
        /// End For search small
      }
      /// End Search box content
    }
    /// End Search box

    /// Search bar
    #search-bar {
      // max-width: none;
      display: table;

      /// For search small
      @if $search-small {
        display: block;
      }
      /// End For search small

      /// Search bar elements
      .search-bar-element {
        padding: 0px;
        padding-right: 30px;

        display: table-cell;
        vertical-align: bottom;
        width: 50%;

        /// For search small
        @if $search-small {
          padding-right: 0px;
          padding-bottom: 15px;

          display: block;
          width: 100%;
        }
        /// End For search small

        label {
          color: $white;
          font-weight: bold;
          text-transform: capitalize;
        }

        input {
        }

        /// Search button container
        &.search-widget-container {
          padding-right: 0px;
          padding-bottom: 0px;

          width: auto;
          text-align: center;

          /// For search small
          @if $search-small {
            padding-bottom: 15px;
          }
          /// End For search small

          /// Search button
          .search-btn {
            // width: 170px;
            padding: 1.5px 5px;

            @include on-event {
            }

            /// For search small
            @if $search-small {
              margin: 0 auto;
            }
            /// End For search small
          }
          /// End Search button
        }
        /// End Search button container
      }
      /// End Search bar elements
    }
    /// End Search bar

    /// View all jobs container
    .link-center {
      padding-top: 15px;

      margin-right: auto;
      margin-left: auto;
      width: 100%;
      margin-top: 0px;

      text-align: center;

      /// View all jobs
      .view-all-jobs {
      }
      /// End View all jobs
    }
    /// End View all jobs container
  }
  /// End Search desktop home

  /// Search desktop & Search Widget (Search & Re-Engage)
  .search-desktop,
  #search-widget {
    background-color: $primary-color;

    position: static;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;

    // h2 {
    //   color: $white;
    //   text-align: left;
    // }

    /// Search box
    .search-box {
      /// Search box content
      .search-box-content {
        // padding-right: 15px;
        // padding-left: 15px;

        /// For search small
        @if $search-small {
          max-width: none;
        }
        /// End For search small
      }
      /// End Search box content
    }
    /// End Search box

    /// Search bar
    #search-bar {
      /// For search small
      @if $search-small {
        max-width: none;
        display: table;
      }
      /// End For search small

      /// Search bar elements
      .search-bar-element {
        /// For search small
        @if $search-small {
          padding: 0px;
          padding-right: 15px;

          display: table-cell;
          vertical-align: bottom;
          width: 50%;
        }
        /// End For search small

        label {
        }

        input {
        }

        /// Search button container
        &.search-widget-container {
          /// For search small
          @if $search-small {
            padding-bottom: 0px;
            padding-right: 0px;
          }
          /// End For search small

          /// Search button
          .search-btn {
            // background-color: $btn-color;

            @include on-event {
              // background-color: shade($btn-color, 15%);
            }
          }
          /// End Search button
        }
        /// End Search button container
      }
      /// End Search bar elements
    }
    /// End Search bar

    /// View all jobs container
    .link-center {
      /// View all jobs
      .view-all-jobs {
        // color: $white;
      }
      /// End View all jobs
    }
    /// End View all jobs container
  }
  /// End Search desktop & Search Widget (Search & Re-Engage)

  /// Search Widget (Search & Re-Engage)
  #search-widget {
    padding: 20px 15px 30px;

    #search-bar {
      max-width: 1140px;
    }
  }
  /// End Search Widget (Search & Re-Engage)
}

@media (min-width: 992px) {
  .search-desktop-home,
  #search-widget {
    h2 {
      padding-left: 30px;
      margin: 0px;
    }

    /// Search box
    .search-box {
      /// Search box content
      .search-box-content {
        padding: 40px 20px;
        padding-left: 0px;
      }
    }

    .link-center {
      padding-top: 5px;
      padding-left: 25px;
    }
  }
}

@media (min-width: 1200px) {
  .search-desktop-home,
  #search-widget {
    h2 {
      font-size: 36px;
      line-height: 1;
      padding-left: 45px;
    }
  }

  @if $label-inline {
    /// Search desktop home
    .search-desktop-home,
    #search-widget {
      /// Search bar
      #search-bar {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;

        /// Search bar elements
        .search-bar-element {
          padding-right: 30px;
          width: 100%;

          -webkit-box-flex: 1;
          flex: 1;

          display: -webkit-box;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          flex-direction: row;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;

          /// Search button container
          &.search-widget-container {
            width: auto;

            -webkit-box-flex: 0;
            flex: none;
          }
          /// End Search button container

          label {
            width: 20%;
            margin: 0px;
            display: block;
            padding-right: 5px;
          }

          input {
            display: block;
            -webkit-box-flex: 1;
            flex: 1;
          }
        }
        /// End Search bar elements
      }
      /// End Search bar
    }
    /// End Search desktop home
  }
}
